@import  url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import  url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --firstColor: #2d3142;
  --secondColor: #9933ff;
}

body {
  background-color: #444444;
  text-align: center;
  font-family: Roboto;
}

.title {
  font-family: Bebas Neue;
}

.card {
  background: #eeeeee;
  border-radius: 15px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 400px;
  overflow: hidden;
}

.card-1 {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 0 30px rgba(0,0,0,1);
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.title {
  padding-top: 40px;
  height: 80px;
  font-size: 36px;
  color: #aaaaaa;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.02);
}

.container {
  margin-top: -16px;
  margin-bottom: -10px;
  max-height: 30px;
}
.container h4{
  max-height: 30px;
  font-size: 15px;
  font-size: 1.5vh;
  color: #444444;
}
/*
.buttonContainer {
  margin-top: -16px;
  margin-bottom: -10px;
} */

.button {
  box-sizing: border-box;
  height: 10px;
  width: 60%;
  margin-left: 20%;
  display: table;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.55);
  transition: background 0.5s;
  /* cursor: pointer; */
}
.button span {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: var(--firstColor);
  box-shadow: 0 0 0 3px var(--firstColor) inset;
  background: transparent;
}
.button .away {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.button .over {
  display: none;
}
.button:hover span.away {
  display: none;
}
.button:hover span.over {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  box-shadow: none;
}
.button:hover {
  background: var(--firstColor);
}

.button-1 span{
  color: var(--secondColor);
  box-shadow: 0 0 0 3px var(--secondColor) inset;
}

.button-1:hover {
  background: var(--secondColor);
}
